#Rename this file to secrets.tfvars and add fill the db user and password, then run as below
## terraform apply -var-file="secrets.tfvars"
# stage mysql db master user
db_username     = "*******"
# stage mysql db master password
db_password     = "*******"